.header {
    position: relative;
    background-color: #CCCCCC;
}

.header-nav {
    float: left;
}

.header-log {
    float: right;
    position: absolute;
    top:10%;
    left:80%;
}

.header-btn {
    background-color: #CCCCCC;
}

.panel {
    border: 1px solid #CCCCCC;
    margin: 10px;
    padding: 20px;
}